<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>
      <p>ユーザー一覧</p>
        <% @users.each do |user|%>
          <div class = 'user-index-list'>
            <div class = 'user-left'>
              <img src="<%= "/user_images/#{user.image_name}" %>">
            </div>
            <div class = 'user-right'>
              <%= link_to( user.name,"/users/#{user.id}") %>
            </div>
          </div>
        <%end%>
    </div>
  </div>
</div>
