<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>

      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag('users/create') do %>
        <div class = 'form'>
            <h1>新規登録</h1>
            <div class = 'form-title'>
              <p>ユーザー名</p>
              <input name = 'name'>
            </div>
            <div class = 'form-content'>
              <p>メールアドレス</p>
              <input name = 'email'>
              <p>パスワード</p>
              <input name = 'password'>
            </div>
            <div class = 'btn'>
              <input type="submit" value="新規登録">
            </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
