<div class= 'home-title'>
  <h1>One for all.<br>All for one.</h1>
  <p>TORISETSU は、あなたの初めてを記録・共有する為のサービスです。<br>初めて行くお店。初めて使うサービス。あらゆる初めてを共有し、誰かの初めての手助けをしましょう。</p>
</div>

<div class = 'home-index-wrapper'>
  <div class = 'home-index-container'>
    <div class = 'home-index'>
      <p>新着記事</p>
        <% @posts.each do |post|%>
          <div class = 'home-index-list'>
            <div class = 'home-index-title'>
            <%= link_to(image_tag("/user_images/#{post.user.image_name}"), "/users/#{post.user.id}") %>
            <%= link_to( post.title,"/posts/#{post.id}") %>
            </div>
            <div class = 'created_at'>
              更新日：<%= post.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
        <%end%>
    </div>
  </div>
</div>
