<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class = 'form'>
        <h1>編集</h1>
          <div class = 'form-title'>
            <p>タイトル</p>
            <textarea name = 'title'><%= @post.title %></textarea>
          </div>
          <div class = 'form-content'>
            <p>本文</p>
            <textarea name = 'content'><%= @post.content %></textarea>
          </div>
          <div class = 'btn'>
            <input type="submit" value="保存">
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
