@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Ranchers&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    list-style: none;
}


body{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;

  header{
    background: #e59;
    margin: 0 auto;
    padding-top: 20px;

    .nav-title{
      font-family: 'Ranchers', cursive;
      font-size: 36px;
      letter-spacing: 0.2em;
    }

    .nav{
      width: 70%;
      margin: 0 auto;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
        a{
          text-decoration: none;
          color: #eee;
        }

      ul{
        display: flex;
        align-items: center;
        li{
          width: 100px;
        }
      }

      .nav-top{
        h1{
          font-family: 'Ranchers', cursive;
          font-size: 36px;
          letter-spacing: 0.2em;
        }
        .current-user{
          display: flex;
          align-items: center;
          margin-top: 10px;

          img{
            width: 30px;
            height: 30px;
            object-fit: contain;
            border-radius: 50%;
          }
          a{
            text-align: center;
          }
        }
      }
    }

    .home-title{
      width: 70%;
      height: 600px;
      margin:0 auto;
      color: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
        font-weight: 900;
        margin-bottom: 40px;
      }

      p{
        font-size: 24px;
        letter-spacing: 0.2em;
      }
    }
  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #333;
    color: #eee;
    position: absolute;
    bottom: 0;
  }
}

.flash {
  padding: 10px 0;
  color: white;
  background: #e95;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.form-error {
  color: #ff4d75;
}

@media(max-width:480px){
  body{
  font-size: 18px;

    header{
      padding: 20px;
      text-align: center;

      .nav-title{
        font-family: 'Ranchers', cursive;
        font-size: 24px;
        letter-spacing: 0.2em;
      }

      .nav{
        height: 70px;
        display: block;
        font-size: 12px;
        width: 90%;
        ul{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          li{
            width: unset;
          }
        }

        .nav-top{
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1{
            font-size: 22px;
            margin-top: 10px;
          }

          .current-user{
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      .home-title{
        height: 300px;

        h1{
          font-size: 30px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .flash {
      padding: 5px 0;
      color: white;
      background: #e95;
      text-align: center;
      position: absolute;
      top: 0px;
      z-index: 10;
      width: 100%;
      border-radius: 0 0 2px 2px;
      font-size: 10px;
    }
  }
}
